@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Open+Sans:ital,wght@1,600;1,700&family=Roboto+Slab:wght@700&display=swap');
*{
    margin:10px;
    padding: 0;;
    box-sizing: border-box;
    font-family: 'Agbalumo', system-ui;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Slab', serif; 
}


body{
    background-color: #FFF8EF;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
a{
    text-decoration: none;
    color:#000000;
}
a:hover{
    text-decoration: underline;
 }
.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    
 }
.login_box{
    position: relative;
    width: 450px;
    backdrop-filter: blur(25px);
    /* border: 2px solid #c6c3c3;
    border-radius: 15px; */
    padding: 7.5em 2.5em 4em 2.5em;
    color: #0f0d0d;
    /* box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2); */
}
.login-header{
    position: absolute;
    top:0;
    left: 50%;
     transform: translate(-50%); 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c6c3c3;
    width: 300px;
    height: 70px;
    border-radius: 0 0 5px 5px ;
}
.login-header span{
    font-size: 30px;
    color: #000000;
}
.input_box{
    position: relative;
    display: flex;
    flex-direction: column;
    margin:2px 0;
    padding-bottom:5px; 
    right: 50%;
}
.input-field{
    width: 200%;
    height: 70px;
    font-size: 20px;
    background: transparent;
    color: #0b0b0b;
    padding-inline: 20px 50px;
    border: 2px solid #c6c3c3;
    border-radius: 10px;
    outline: none;
}

 .label{
    position: absolute;
    top: 3px ;
    left : 20px;
    /* transition: .2s; */
}
/* .input-field:focus~.label,
.input-field:valid~.label{
    position: absolute;
    top:-10px;
    left: 20px;
    font-size: 14px;
    background-color: #c6c3c3;
    border-radius: 30px;
    color: #000000;
    padding:0 10px; } */ 
@media only screen and (max-width: 564px){
    .wrapper{
        padding: 20px;
    }
    .login_box{
        padding: 7.5em 2.5em 4em 2.5em;
    }
} 
#submit{
    border: none;
    padding: 10px,20px;
    background-color: rgb(230, 134, 43);
    color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
    width: 200px;
    cursor: pointer;
    transform: translate(10px, 10px);
    height: 50px;
}
#submit:hover{
    background: #9ceaee;} 