body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff8ef;
}

#title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff8ef;
    color: #090808;
    font-size: 1.2em;
    border-bottom: 1px solid grey;
}

.title {
    display: flex;
    align-items: center;
}

.logo {
    width: 350px;
    height: 100px;
    margin-right: 10px; /* Adds some space between the logo and the text */
}

#info-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #fff8ef; /* Darker shade of blue */
    color: black; /* Light shade for contrast */
    font-size: 1.2em; /* Slightly larger font size */
    border-bottom: 1px solid grey; /* Blue border at the bottom */
    box-shadow: 0 2px 5px rgba(0,0,0,0.15); /* Box shadow for depth */
}

.hotel-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.hotel-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    transition: transform .2s;
}

.hotel-card:hover {
    transform: scale(1.05);
}

.hotel-card h2 {
    margin-top: 0;
    color: #333;
}

.hotel-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.hotel-card p {
    font-size: 0.9em;
    color: #666;
}

#filter-bar {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    background-color: #fff8ef;
    border-bottom: 1px solid #ddd;
}

.dropdown {
    position: relative;
    display: inline-block;
}

#filter-button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #333333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .3s;
    display: flex;
    align-items: center;
}

#filter-button:hover {
    background-color: #555;
}

#filter-button i {
    margin-right: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#user-account {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

#user-account img {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Makes the image circular */
    margin-right: 10px; /* Adds some space between the image and the text */
}

#user-account p {
    font-size: 1em;
    color: #0d0707;
}