.r1{
    width: 1401px;
height: 107px;
flex-shrink: 0;
color: #000;
text-align: center;
font-family: "JetBrains Mono";
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.r2{
    color: #000;
text-align: center;
font-family: "JetBrains Mono";
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.a3{
    width: 806px;
height: 73px;
flex-shrink: 0;
color: #000;
font-family: Judson;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
}
.r3{
    width: 1000px;
height: 40px;
flex-shrink: 0;
border-radius: 38px;
background: #D9D9D9;

margin: 10px;

}
.r4{
    width: 581px;
height: 46px;
flex-shrink: 0;
 color: #000;
text-align: center; 
 font-family: "JetBrains Mono";
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal; 
background: #D9D9D9;
border-radius: 38px;
}
.r5{
    color: #000;
font-family: "JetBrains Mono";
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
}
.a5{width: 1000px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 26px;
background: #D9D9D9;

}
