*
{
    margin: 0px 20px 0px 20px;
    background-color: #FFF8EF;

}
#box1
{
    height: 40px;
    margin-top: 10px;
    display: flex;
    padding-left: 43%;
}
#text_speech
{
    width: 130px;
    height: 35px;
    border-radius: 15px;
    background-color: white;
    margin-left: 50px;
}
#text_speech_2
{
    width: 180px;
    height: 35px;
    border-radius: 15px;
    background-color: WHITE;
    margin-left: 50px;
}
.menu_bar
{
   height: 60px;
   width: 100%;
   
   display: flex;
   align-items: center; 
}
#box1_1
{
    height: 85px;
    width: 18%;
    margin-right: 20%;
}
#box1_2
{
    width:11%;
    color: #000;
    
    font-family: "JetBrains Mono";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 30px;
}
#box1_3
{
    width:5%;
    color: #000;
    
    font-family: "JetBrains Mono";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 40px;
}
#box1_4
{
    width:11%;
    color: #000;
    
    font-family: "JetBrains Mono";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
#box1_5
{
    width: 130px;
    height: 35px;
    border-radius: 15px;
    background-color: coral;
    font-size: 20px;
    font-family: "JetBrains Mono";
}

#box2
{
    display: flex;
    align-items: center;
    height: 600px;
    width: 100%;
}
#box2_1
{
    color: #000;
    width: 50%;
    font-family: "JetBrains Mono";
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}
#main_img
{
    height:100%;
    width: 100%;
}
#Startplanning
{
    height: 50PX;
    width: 200px;
    border-radius: 20px;
    background-color: coral;
    font-size: 20px;
    font-family: "JetBrains Mono";
}

#planning-a , #login-a {
    text-decoration: none;
    background-color: coral;
    color: black;
}

#register-a{
    text-decoration: none;
    color: black;
}

#box3
{
    display: flex;
    width: 100%;
    height: 258px;
    flex-direction: column;
    justify-content: center;
    color: rgba(0, 0, 0, 0.80);
    text-align: center;
    font-family: "Luxurious Roman";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height:  30px;
    letter-spacing: -0.44px;
}
#box4
{
    height: 500px;
    width: 100%;
    color: #000;
    font-family: "JetBrains Mono";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;   
}
#Mostvisited
{
    padding-left: 30%;
}
#box4_1
{
    height: 380px;
    width: 22%;
    display: inline-block;
    margin-right: 0px;
}
#box5
{
    height: 500px;
    width: 100%;
    color: #000;
    font-family: "JetBrains Mono";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;   
}
#Trending
{
    padding-left: 30%;
}
#box5_1
{
    height: 380px;
    width: 22%;
    display: inline-block;
    margin-right: 0px;
}
#box6
{
    height: 1200px;
    width: 100%;
}
#WhyAccess
{
    height: 64px;
    color: #000;
    font-family: "JetBrains Mono";
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: grid;
    padding-left: 28%;
}
#box6_1
{
    height: 250px;
}
.box6_heading
{
    height: 100px;
    color: #000;
    text-align: center;
    font-family: "JetBrains Mono";
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 32%;
    display: flex;
    margin-top: 50px;
    margin-bottom: 0px;
    display: flex;
}
#box6_img
{
    height: 80px;
    width: 100px;
    background-color: beige;
    border-radius: 10px;
}

.box6_text
{
    height: 150px;
    color: #000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 7%;
    margin-top: 20px;
    margin-bottom: 0px;
}
#box6_1_2
{
    height: 200px;
}
.box6_heading_2
{
    height: 150px;
    color: #000;
    text-align: center;
    font-family: "JetBrains Mono";
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 32%;
    display: flex;
    margin-top: 50px;
    margin-bottom: 0px;
    display: flex;
}
.box6_heading_4
{
    height: 100px;
    color: #000;
    text-align: center;
    font-family: "JetBrains Mono";
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 35%;
    display: flex;
    margin-top: 50px;
    margin-bottom: 0px;
    display: flex;
}
#box6_1_3
{
    height: 200px;
}
#box6_1_4
{
    height: 220px;
}
.box6_text_4
{
    height: 170px;
    color: #000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 7%;
    margin-top: 20px;
    margin-bottom: 0px;
}
#box7
{
    height: 400px;
    width: 100%;
}
#Reviews
{
    color: #000;
    font-family: "JetBrains Mono";
    font-size: 48px;    
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 20%;
    display: inline-block;
}
#box7_1
{
    height: 300px;
    width: 30%;
    background-color: darkgray;
    display: inline-block;
}
#footer
{
    height: 200px;
    width: 100%;
    display: flex;
    
}
#box8_1
{
    height: 100%;
    width: 30%;
    padding-top: 50px;
}
#box8_img
{
    height: 100%;
    width: 30%;
}
#footer_elements
{
    color: #000;
    font-family: "JetBrains Mono";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}